[submodule "tools"]
	path = tools
	url = git@github.com:datagutten/tools.git
[submodule "torrent-rw"]
	path = torrent-rw
	url = git://github.com/adriengibrat/torrent-rw.git
[submodule "tvdb"]
	path = tvdb
	url = git@github.com:datagutten/tvdb.git
[submodule "someimage"]
	path = someimage
	url = git@github.com:datagutten/someimage.git
